/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("resources/fonts/Segoe UI/Segoe UI.ttf");
}

:root {
  --menu-background: #e9ecee;
  --icon-passive: #8e9192;
  --menu-light: #f6f8f9;
  --highlight-select: #5382c3;
  --scrollbar-base: #e0e5e3;
  --scrollbar-thumb: #899695;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* custom scrollbar */
.menu-laterale {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-base);
  scrollbar-width: thin;
}

.menu-laterale::-webkit-scrollbar {
  width: 7px;
}
.menu-laterale::-webkit-scrollbar-track {
  background-color: var(--scrollbar-base);
  border-radius: 100px;
}

.menu-laterale::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 100px;
}

.menu-laterale::-webkit-scrollbar-button {
}
/* custom scrollbar end*/

.menu-laterale {
  width: 250px;
  height: 100vh;
  background-color: var(--menu-background);
  padding: 50px 0;
  overflow-y: auto;
}

.menu-laterale-top {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon-22px {
  width: 22px;
  height: 100%;
  cursor: pointer;
}

.icon-16px {
  width: 16px;
  height: 100%;
  cursor: pointer;
}

.logo-cliente {
  width: 120px;
  height: 120px;
  background-color: white;
  border: var(--icon-passive) dashed;
  margin: 50px;
}

/* li::before {
  content: "";
  width: 0px;
  height: 100%;
  background-color: red;
} */

li .categoria-titolo {
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16pt;
  cursor: pointer;
  transition: all 300ms ease-out;
  /* z-index: 10; */
}
li .categoria-titolo:hover {
  background-color: var(--menu-light);
}
li .categoria-titolo img {
  margin: 0 16px;
}
li.categoria.selected .categoria-titolo::before {
  content: "";
  width: 7px;
  height: 100%;
  background-color: var(--highlight-select);
}
li.categoria.selected .categoria-titolo {
  color: var(--highlight-select);
  background-color: var(--menu-light);
}
li.categoria.selected .categoria-titolo img {
  filter: invert(50%) sepia(52%) saturate(552%) hue-rotate(175deg)
    brightness(88%) contrast(82%);
  margin: 0 16px 0 9px;
}

ul.sottocategorie {
  padding-bottom: 26px;
  /* display: none; */
  max-height: 0px;
  overflow: hidden;
  padding-bottom: 0;
  /* height: 0; */
  /* visibility: hidden; */
  /* transform: translateY(-100%); */
  /* z-index: -1; */
  /* overflow: hidden; */
}
ul.sottocategorie.expanded {
  /* display: block; */
  max-height: 500px;
  padding-bottom: 26px;
  /* height: auto; */
  /* visibility: visible; */
  /* transform: translateY(0);
  transition: transform 300ms ease; */
  transition: all 300ms ease-in;
}

li.sottocategoria {
  font-weight: normal;
  font-size: 13pt;
  /* margin-top: 26px; */
  padding: 13px 0 13px 0;

  padding-left: 54px;
  cursor: pointer;
  transition: background-color 200ms ease-in;
}

li.sottocategoria:hover {
  background-color: var(--menu-light);
  /* color: white; */
}

/* fix https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css */
